@import "../../Styles/Colors.scss";

.menu {
  padding-top: 100px;
}

.menu_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.menu_ {
  display: flex;
  flex-wrap: wrap;
}


.menu_item_name {
  margin-bottom: 12px;
}

.menu_item_text {

}
.cart {
}
.cart_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid wheat;
  border-radius: 8px;
  height: 400px;
  padding: 16px;
}
.menu_list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 2px solid wheat;
  border-radius: 8px;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 20vw;
  
}
.menu_item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_item_content_ {
  display: flex;
  overflow: hidden;
}

.menu_img {
  max-width: 100px;
  border-radius: 8px;
  margin-right: 8px;
}
