@import "../../Styles/Colors.scss";

.menu {
  padding-top: 100px;
}

.menu_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.menu_ {
  display: flex;
  flex-wrap: wrap;
}
.menu_list {
  display: flex;
  padding: 60px;
  border: 2px solid wheat;
  border-radius: 8px;
  margin-right: 16px;
  margin-bottom: 16px;
  
}

.menu_item {

}